/* MY CSS STYLES */
html {
	scroll-behavior: smooth;
  }

.tab-1{
    padding-left:10px;
    font-style: italic;
  }


.more {display: none;}
.hide-more{
  display: none;
  padding: 1%;
}

iframe{
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.scroll-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
 }
